body {
    background-color: aqua;
}

.card {
    padding: 30px;
    margin: auto;
    width: 50%;
    background-color: white;
}

.clearfix {
    overflow: auto;
}

.p {
    float: left;
    width: 300px;
}

.input {
    float: left;
}

input {
    padding: 10px;
    margin-left: 100px;
}

.message {
    color: red;
    margin-left: 20px;
}

table {
    border: 1px solid;
}

table {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
}
tbody{
    margin: 10px;
}